@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
/* font-family: 'Lato', sans-serif; */


/************** default ***************/
html, body {font: 16px 'Lato', sans-serif; height: 5000px;}
.wrapper {max-width: 800px; padding: 0 16px; margin: auto;}


/************** header-wrapper ***************/



/************** main-wrapper ***************/



/************** band-wrapper ***************/



/************** tour-wrapper ***************/



/************** contact-wrapper ***************/



/************** footer-wrapper ***************/




/************** response ***************/
@media (min-width: 576px) {
	
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

